body {
    margin: 0 auto;
    padding: 15px;
    max-width: 900px;
}
.list {
    max-width: 100%;
    text-align: center;
}
.title {
    margin: 0;
    margin-bottom: 45px;
    padding: 0;
    color: white;
    font-size: 32px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(1, 134, 68);
}
.box {
    margin: 0 auto;
    margin-bottom: 45px;
    display: flex;
    justify-content: space-between;
    max-width: 600px;

}
.input {
    padding: 5px;
    min-width: 250px;
    border-radius: 5px;
}
.btn {
    margin: 0;
    padding: 0;
    padding: 10px;
    border-radius: 15px;
    list-style-type: none;
    background-color: rgb(1, 134, 68);
    color: white;
    font-size: 16px;
}
/* Обертка списка дел */
.wrap {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: beige;
    border-radius: 25px;
}
.conteiner {
    display: flex;
    gap: 30px;
}
.order {

}
.prove {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.del {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgb(236, 211, 211);
    font-size: 32px;
    cursor: pointer;
    width: 20px;
    height: 40px;
}